---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import {
  Mail,
  Phone,
  MapPin,
  Droplets,
  Home,
  Fence,
  Warehouse,
  Zap,
  Sprout,
} from "lucide-react";
import { Form } from "../components/Form";
---

<Layout>
  <main>
    <section
      class="hero py-12 md:py-24 lg:py-32 xl:py-48 bg-gradient-to-r from-green-400 to-blue-500"
      id="Inicio"
    >
      <div class="container px-4 md:px-6 mx-auto">
        <div class="flex flex-col items-center space-y-4 text-center gap-4">
          <div class="space-y-2">
            <h1
              class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none text-white"
            >
              Bienvenidos a Los Nonos
            </h1>
            <p
              class="mx-auto max-w-[700px] text-xl text-white md:text-2xl dark:text-gray-200"
            >
              500 hectáreas de oportunidades para tu inversión
            </p>
          </div>
          <div class="space-y-2">
            <p class="text-lg text-white">
              Suelo fértil | 8 lotes | Excelente para inversiones
            </p>
            <p class="text-lg text-white">
              Infraestructura completa | Casa con habitaciones y luz
            </p>
          </div>
          <div class="space-x-4">
            <a
              class="text-white hover:bg-white hover:text-black rounded-md p-4 font-semibold"
              href="#Características"
            >
              Ver Características
            </a>
            <a
              href="#Contacto"
              class="text-white border-white hover:bg-white hover:text-green-600 bg-green-400 p-4 rounded-md font-semibold"
            >
              Contactar
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-12 md:py-24 lg:py-33" id="Características">
      <div class="container px-4 md:px-6 mx-auto">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-12"
        >
          Características Destacadas
        </h2>
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
          <Card className="bg-green-50">
            <Fence className="w-12 h-12 text-green-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Excelentes Alambrados </h3>
            <p class="text-center">
              8 lotes perfectamente delimitados con alambrados en excelente
              estado.
            </p>
          </Card>
          <Card className="bg-blue-50">
            <Droplets className="w-12 h-12 text-blue-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Recursos Hídricos </h3>
            <p class="text-center">
              Firlot con agua, 2 represas con perforación y tanque de 200.000
              litros.
            </p>
          </Card>
          <Card className="bg-yellow-50">
            <Warehouse className="w-12 h-12 text-yellow-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Infraestructura Ganadera </h3>
            <p class="text-center">
              Mangas, bretes y corrales con distribución de agua.
            </p>
          </Card>
          <Card className="bg-red-50">
            <Home className="w-12 h-12 text-red-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Vivienda </h3>
            <p class="text-center">
              Casa con habitaciones y suministro eléctrico.
            </p>
          </Card>
          <Card className="bg-purple-50">
            <Zap className="w-12 h-12 text-purple-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Servicios </h3>
            <p class="text-center">
              Electricidad disponible en la propiedad.
            </p>
          </Card>
          <Card className="bg-orange-50">
            <Sprout className="w-12 h-12 text-orange-600 mb-4" />
            <h3 class="text-xl font-bold mb-2"> Suelo Fértil </h3>
            <p class="text-center">
              Terreno de alta calidad, ideal para diversos cultivos y ganadería.
            </p>
          </Card>
        </div>
      </div>
    </section>
    <section class="py-12 md:py-24 lg:py-32 bg-gray-100" id="Galería">
      <div class="container px-4 md:px-6 mx-auto">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-12"
        >
          Galería
        </h2>
        <div class="flex items-center justify-center max-w-[500px] mx-auto">
          <lite-youtube videoid="vrh6trNUbeI"></lite-youtube>
        </div>
      </div>
    </section>
    <section id="Contacto" class="py-12 md:py-24 lg:py-32 bg-green-50">
      <div class="container px-4 md:px-6 mx-auto">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-12"
        >
          Contacto
        </h2>
        <div class="grid gap-6 lg:grid-cols-2">
          <div class="space-y-4">
            <div class="flex items-center space-x-2">
              <Phone className="w-4 h-4 text-green-600" />
              <span>+54 3843674527</span>
            </div>
            <div class="flex items-center space-x-2">
              <Mail className="w-4 h-4 text-green-600" />
              <span>santiagomustafa3@gmail.com</span>
            </div>
            <div class="flex items-center space-x-2">
              <MapPin className="w-4 h-4 text-green-600" />
              <span>Quimilí, Santiago Del Estero, Argentina</span>
            </div>
          </div>
          <Form client:load />
          <!-- <form class="space-y-4 flex flex-col">
            <input
              class="p-2 outline-offset-1 rounded-md"
              type="text"
              name="name"
              placeholder="Nombre completo"
            />
            <input
              class="p-2 outline-offset-1 rounded-md"
              type="email"
              name="email"
              placeholder="Correo electrónico"
            />
            <textarea
              class="p-2 outline-offset-1 rounded-md resize-none h-20"
              name="message"
              placeholder="Escriba su mensaje"></textarea>

            <button
              class="text-white font-semibold w-full bg-green-600 hover:bg-green-700 p-2 rounded-md"
            >
              Enviar Mensaje
            </button>
          </form> -->
        </div>
      </div>
    </section>
  </main>
</Layout>
