---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Caracteristicas from "@/components/Caracteristicas.astro";
import Gallery from "@/components/Gallery.astro";
import Contact from "@/components/Contact.astro";
---

<Layout>
  <main>
    <Hero />
    <Caracteristicas />
    <Gallery />
    <Contact />
  </main>
</Layout>
