<section
  class="hero py-12 md:py-24 lg:py-32 xl:py-48 bg-gradient-to-r from-green-400 to-blue-500"
  id="Inicio"
>
  <div class="container px-4 md:px-6 mx-auto">
    <div
      class="flex flex-col items-center space-y-4 text-center gap-4 max-[500px]:gap-4"
    >
      <div class="space-y-1">
        <h1
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none text-white max-[360px]:text-2xl"
        >
          Bienvenidos a Los Nonos
        </h1>
        <p
          class="mx-auto max-w-[700px] text-xl text-white md:text-2xl dark:text-gray-200 max-[500px]:text-base max-[450px]:text-sm text-balance"
        >
          500 hectáreas de oportunidades para tu inversión
        </p>
      </div>
      <div class="space-y-2">
        <p
          class="text-lg text-white max-[500px]:text-base max-[450px]:text-sm text-balance"
        >
          Suelo fértil | 8 lotes | Excelente para inversiones
        </p>
        <p
          class="text-lg text-white max-[500px]:text-base max-[450px]:text-sm text-balance"
        >
          Infraestructura completa | Casa con habitaciones y luz
        </p>
      </div>
      <div class="space-x-4">
        <a
          class="text-white hover:text-black rounded-md p-4 font-semibold max-[500px]:p-2 max-[500px]:px-3 max-[500px]:text-sm max-[360px]:hidden transition-colors"
          href="#Características"
          aria-label="ir a la sección de Características del campo"
        >
          Ver Características
        </a>
        <a
          href="#Contacto"
          class="text-white border-white hover:bg-white hover:text-black bg-green-400 p-4 rounded-md font-semibold max-[500px]:p-2 max-[500px]:px-3 max-[500px]:text-sm transition-colors"
          aria-label="Ir a la sección del formulario de contacto"
        >
          Contactar
        </a>
      </div>
    </div>
  </div>
</section>
