---
import "react-toastify/dist/ReactToastify.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <!-- CHARSET -->
    <meta charset="UTF-8" />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width" />

    <!-- Astro generator -->
    <meta name="generator" content={Astro.generator} />

    <!-- Icon -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/*" />

    <!-- Title -->
    <title>Los Nonos - Excelente Inversión Agricola</title>

    <!-- Descripción meta -->
    <meta
      name="description"
      content="Adquiere un campo de 500 hectáreas con suelo fértil. Ideal para inversión. Incluye 8 lotes, alambrados, feedlot con agua, represas, tanque de 200,000 L, corrales, y casa equipada. ¡Todo en excelente estado!"
    />

    <!-- Palabras clave -->
    <meta
      name="keywords"
      content="venta de campo, 500 hectáreas, suelo fértil, inversión en tierras, feedlot, represas, corrales, casa rural, campo en venta, tanque de agua, infraestructura agrícola, lotes alambrados, oportunidades de inversión"
    />

    <!-- Autor -->
    <meta name="author" content="Santiago Emanuel Mustafa Font" />

    <!-- Open Graph para redes sociales -->
    <meta
      property="og:title"
      content="Venta de Campo: 500 Hectáreas Fértiles con Infraestructura Excelente"
    />
    <meta
      property="og:description"
      content="Campo ideal para inversión: 500 hectáreas, suelo fértil, feedlot, represas, tanque de agua, corrales, casa con luz. ¡Todo en excelente estado!"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/SantiagoEmanuel/los-nonos/refs/heads/master/public/image.png"
    />
    <meta
      property="og:image:secure"
      content="https://raw.githubusercontent.com/SantiagoEmanuel/los-nonos/refs/heads/master/public/image.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="860" />
    <meta property="og:image:height" content="848" />
    <meta property="og:url" content="https://los-nonos.vercel.app/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Venta de Campo: 500 Hectáreas Fértiles con Infraestructura Excelente"
    />
    <meta
      name="twitter:description"
      content="Descubre esta oportunidad: 500 hectáreas con infraestructura de calidad, listas para inversión."
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/SantiagoEmanuel/los-nonos/refs/heads/master/public/image.png"
    />

    <!-- Meta de geolocalización -->
    <meta name="geo.region" content="AR" />
    <!-- AR: Código ISO para Argentina -->
    <meta name="geo.placename" content="Santiago del Estero, Quimilí" />
    <meta name="geo.position" content="-27.6333;-62.4167" />
    <!-- Coordenadas aproximadas de Quimilí -->
    <meta name="ICBM" content="-27.6333, -62.4167" />
  </head>
  <body>
    <header
      class="flex gap-8 p-4 sticky top-0 z-10 bg-white bg-opacity-15 backdrop-blur-sm items-baseline max-sm:hidden h-20"
    >
      <a class="text-2xl font-semibold" href="/" aria-label="Inicio de Página"
        >Los Nonos</a
      >
      <nav class="flex gap-4 items-center">
        <a
          class="hover:text-violet-500 transition-colors font-semibold before:absolute before:w-0 before:bg-violet-500 hover:before:w-full relative before:-bottom-1 before:h-[2px]"
          href="#Inicio"
          aria-label="Ir al inicio de la página"
        >
          Inicio
        </a>
        <a
          class="hover:text-violet-500 transition-colors font-semibold before:absolute before:w-0 before:bg-violet-500 hover:before:w-full relative before:-bottom-1 before:h-[2px]"
          href="#Características"
          aria-label="Ir a las Características del campo"
        >
          Características
        </a>
        <a
          class="hover:text-violet-500 transition-colors font-semibold before:absolute before:w-0 before:bg-violet-500 hover:before:w-full relative before:-bottom-1 before:h-[2px]"
          href="#Galería"
          aria-label="Ir a la galería de fotos/videos del campo"
        >
          Galería
        </a>
        <a
          class="hover:text-violet-500 transition-colors font-semibold before:absolute before:w-0 before:bg-violet-500 hover:before:w-full relative before:-bottom-1 before:h-[2px]"
          href="#Contacto"
          aria-label="Ir a la sección del Formulario de contacto"
        >
          Contacto
        </a>
      </nav>
    </header>
    <div
      id="progress-bar"
      class="bg-orange-500 h-1 sticky top-20 transition-transform z-10 w-0 flex items-end justify-end max-[640px]:hidden"
    >
      <img
        src="/public/favicon.svg"
        alt="Icono representativo de un campo"
        class="max-w-[32px]"
      />
    </div>
    <script>
      const progressBar = document.getElementById("progress-bar")!;
      window.addEventListener("scroll", () => {
        progressBar.style.width = `${Math.round(
          (window.scrollY / (document.body.scrollHeight - 960)) * 100
        )}%`;
      });
    </script>
    <slot />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
      is:inline></script>
  </body>
</html>
